* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}


header {
    position: sticky;
    top: 0;
    padding-block: 15px;
    padding-inline: 25px;
    z-index: 1;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.logo {
    width: 125px;
}

.logo img {
    width: 100%;
}


nav ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    list-style: none;
}

nav ul li {
    float: left;
    margin-inline: 10px;
}

nav a {
    text-decoration: none;
}

.signin {
    background-color: #EB1700;
    padding: 5px 10px;
    border-radius: 20px;
}

.signin a {
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.signup {
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.signup a {
    color: black;
    font-weight: 700;
    font-size: 16px;
}

.main {
    position: relative;
}

.main img {
    max-width: 100%;
    max-height: 100%;
}

.main-text {
    height: 150px;
    position: absolute;
    top: 250px;
    left: 280px;
    color: white;
    text-align: center;
}

.main .main-text h1 {
    margin-bottom: 24px;
    font-size: 35px;
}

.input-box {
    position: absolute;
    top: 55px;
    left: 200px;
    background: white;
    width: 350px;
    border-radius: 50px;
    margin: auto;

}


.main-text a {
    text-decoration: none;
    background-color: white;
    padding: 0px 8px;
    margin: 12px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    color: black;
}

input {
    margin: 10px 0;
    text-align: left;
    border: none;
    font-size: 16px;
}

.fa-location-dot {
    position: absolute;
    top: 8px;
    left: 12px;
    color: black;
    padding: 6px 6px 6px 8px;
    font-size: 18px;
}

.main .fa-arrow-right {
    position: absolute;
    top: 5px;
    right: 7px;
    border-radius: 50%;
    background-color: #EB1700;
    padding: 10px;
    cursor: pointer;
}

.user {
    position: absolute;
    top: 100px;
    left: 250px;
    padding: 15px;
}

.user a {
    padding: 5px 10px;
}

.section1 {
    background-color: white;
    width: 100%;
    clear: both;
}

.content1,
.content2,
.content3 {
    float: left;
    width: 300px;
    max-height: 380px;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 90px;
    padding-right: 15px;
    text-align: center;
}

.section1 h2 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.section1 p {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px;

}

.section1 a {
    text-decoration: none;
    color: #eb1700;
    font-weight: 600;
    margin-top: 20px;
    font-size: 19px;
}

.section1 .fa-arrow-right {
    color: #EB1700;
    text-align: center;
    cursor: pointer;
}

.section2 {
    position: relative;
    width: 70%;
    left: 10%;
    top: 90%;
    margin-top: 150px;
    margin-left: 40px;
    padding: 25px;
    display: inline-block;
    margin-bottom: -40px;
}

.sect2-text {
    position: relative;
    padding-block: 50px;
    margin-top: 20px;
}

.section2 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}


.section2 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}

.section2 h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section2 p {
    margin-bottom: 30px;
    font-weight: 500;
}

.lady {
    position: relative;
    left: 30px;
    height: 450px;
    width: 550px;
    float: right;
    margin-inline: 30px;
}


.container {
    background-color: #FEF1EE;
}

.section3 {
    position: relative;
    width: 70%;
    left: 10%;
    top: 90%;
    margin-top: 20px;
    margin-left: 50px;
    padding: 30px;
    display: inline-block;
}


.text {
    position: relative;
    padding-block: 40px;
    margin-top: 20px;
}

.section3 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}


.section3 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}

.section3 p {
    font-weight: 500;
    margin-bottom: 30px;
}

.DashPass {
    height: 500px;
    width: 600px;
    float: left;
    margin-inline: 40px;
}

.section4 {
    background-image: url(images/grocery.png);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

}

.sect-container {
    background-color: rgba(30, 30, 30, 0.6);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.text4 {
    position: absolute;
    top: 160px;
    left: 400px;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
    max-width: 550px;
}

.text4 h2 {
    position: relative;
    top: 0;
    left: 50px;
    align-items: center;
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    font-size: 35px;
    line-height: 40px;
}

.text4 h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
}

.text4 p {
    margin-bottom: 40px;
    font-weight: 500;
    width: 600px;
}

.text4 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 8px 12px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
}

.section5 {
    position: relative;
    width: 80%;
    left: 10%;
    top: 90%;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 10px;
    display: inline-block;
}

.sect5-text {
    margin-block: 90px;
}


.section5 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}


.section5 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 10px;
}

.section5 p {
    font-weight: 500;
    margin-bottom: 30px;
}

.convenience {
    height: 450px;
    width: 650px;
    float: right;
    margin-inline: 40px;
}

/* Section 6 */

.sect6-container {
    text-align: center;
    background-color: #FEF1EE;
    padding: 25px;
}

.section6 {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

#sect6 {
    font-weight: 700;
    font-size: 30px;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

article {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    margin: 2.8%;
    box-sizing: border-box;
}

article img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

article h2 {
    font-weight: 700;
    font-size: 35px;
    margin: 12px 0 12px 0;
}

article p {
    margin: 15px 0 15px 0;
    font-weight: 500;
    font-size: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

article a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 40px;
}

span {
    display: block;
    margin-top: 30px;
    font-size: 15px;

}

/* Section 7 */

.section7 {
    position: relative;
    width: 80%;
    left: 10%;
    top: 90%;
    margin-top: 30px;
    padding: 10px;
    display: inline-block;
}

.sect7-text {
    margin-block: 15%;
}


.section7 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 15px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 30px;
}


.section7 h2 {
    font-size: 30px;
    font-weight: 700;
    width: 250px;
    line-height: 40px;
    margin-bottom: 20px;
}

.section7 p {
    font-weight: 500;
    margin-bottom: 30px;
    width: 400px;
}

.Dasher {
    height: 450px;
    width: 600px;
    float: right;
    margin-bottom: -50px;
    margin-inline: 40px;
}

.HD {
    position: relative;
    left: 300px;
    margin-bottom: 50px;
    text-align: center;
    width: 400px;
    font-size: 28px;
}

/* Section 8 */

.container {
    background-color: rgb(254, 241, 238);
    justify-content: center;
    padding-top: 80px;
}

.section8 {
    position: relative;
    width: 70%;
    left: 10%;
    top: 90%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 15px;
    display: inline-block;
}


.text {
    position: relative;
    padding-block: 30px;
    margin-top: 20px;
}

.section8 a {
    text-decoration: none;
    background-color: #EB1700;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    margin-top: 20px;
}


.section8 h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 40px;
}

.section8 p {
    font-weight: 500;
    margin-bottom: 30px;
}

.DashPass {
    height: 450px;
    width: 600px;
    float: left;
    margin-inline: 40px;
}




/* Section 9 */
.section9 {
    padding: 40px 25px;
}

.HD1 {
    font-size: 26px; 
    font-weight: 700;
    color: #333; 
    text-align: center;
}

.top-section {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px; 
    
}

.top-section a {
    display: block; 
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 0; 
    width: calc(30% - 20px); 
    margin: 0 20px; 
    background: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 1.5px solid #606060;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.top-section a:hover {
    text-decoration: none;
    background-color: #F7F7F7;
    border-bottom: 2px solid #606060;
}

.col-container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 16px; 
}

.col-container a {
    color: #333; 
    text-decoration: none; 
    padding: 5px; 
    flex: 0 1 calc(18% - 20px); 
    margin: 10px; 
    text-align: center; 
    transition: background-color 0.3s;
    display: block; 
}

.col-container a:hover {
    background-color: #e0e0e0; 
}


/* Footer */

footer {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255); 
    padding: 10px; 
}

.section10 {
    max-width: 1200px; 
    margin: 0 auto; 
    padding-bottom: 20px;
    background-color: rgb(25, 25, 25);
}

.footer {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.category1 {
    display: block;
    padding-top: 32px;
    padding-bottom: 35px;    
}

.category1 div {
    display: inline-block; 
    width: 20%; 
    vertical-align: top;
    padding-inline: 20px;
}

.category1 a {
    color: rgb(196, 196, 196); 
    text-decoration: none; 
    display: block; 
    margin: 5px 0; 
    font-size: 15px;  
    font-weight: 400; 
}

.category1 a:hover {
    color: white; 
    text-decoration: underline;
}


.category2 a {
    color: rgb(196, 196, 196); 
    text-decoration: none; 
    display: block; 
    margin: 5px 0; 
    font-size: 15px;  
    font-weight: 300; 
}

.category2 a:hover {
    color: white; 
    text-decoration: underline;
}

.sep {
    width: 100%;
    overflow: hidden; 

}

.category2 div {
    vertical-align: top;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-inline: 20px;
    float: left;
    
}

.app {
    float: right; 
    width: 150px; 
    padding-top: 40px;
    justify-items: center;
    padding-right: 40px;
}

.app a img {
    border-radius: 5px;
    justify-content: space-between;
}

.cate5, .cate6, .cate7 {
    font-size: 14px;
    font-weight: 700;
    color: rgb(196, 196, 196);
    cursor: pointer;
    margin-right: 16px;
    display: inline;
}

.foot-hd {
    font-size: 18px;
    font-weight: 500;
    color: white;
    cursor: text;
    margin-bottom: 10px;
}

.category3 div {
display: inline;
padding-inline: 18px;
margin-top: 25px;
}

.category3 a {
    color: rgb(196, 196, 196); 
    text-decoration: none; 
    display: inline-block; 
    padding-left: 12px;    
    font-size: 12px;  
    font-weight: 300; 
}

.category3 img {
    width: 50px;
    vertical-align: middle; 
    text-align: center;
}

.category3 a:hover {
    color: #f1f1f1; 
    text-decoration: underline;
}

#copyright {
    text-decoration: none;
    cursor: text;
}

#copyright a:hover {
    text-decoration: none;    
}

.dropdown {
    display: inline-block;
    margin-inline: 50px;
    padding-right: 15px;
    background-color: #f1f1f1;
    border-radius: 15px;
    padding: 4px;
    position: relative; 
}


.dropdown i {
    margin-right: 2px; 
    font-size: 15px; 
    color:  #000; 
    vertical-align: middle; 
}


select {
    padding: 2px;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    appearance: none;
    background: transparent; 
    width: 65px; 
    display: inline-block;
}

.dropdown .dropdown-arrow {
    position: absolute;
    right: 10px;
    top: 50%;    
    font-size: 10px; 
    color:  #000;
}

.socialimg i {
    font-size: 22px;
    padding-left: 50px;
    cursor: pointer;
    float: right;
    padding-inline: 10px;
}

